:root {
    --background-color: #fff;
    --text-color: #000;
    --number-bg-color: #eee;
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #fff;
    --number-bg-color: #555;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#numbers-container {
    display: flex;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}